###############################################################################
# et_base_switch.CFG - CONFIG FILE FOR SWITCH SERVICES
###############################################################################

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Create a service to PING to switch


define service{
	use			prod-network-service
	hostgroup_name		crosssite-nagios
	service_description	NRPE Check
	check_command		et_check_nrpe_version
	max_check_attempts	8
	normal_check_interval	3
	retry_check_interval	1
		}
