###############################################################################
#
# REACHLOCAL CONTACTS
#
###############################################################################
###############################################################################

define contact{
        contact_name                    sreteam
        use                             generic-contact
        alias                           sreteam Email
        email                           sre@reachlocal.com
        }

define contact{
	contact_name			appops-email
	use                     	generic-contact
	alias                   	AppOps Email
	email                   	appops@reachlocal.com
	}

define contact{
        contact_name                    orcheng-email
        use                             generic-contact
        alias                           Orchestration Engineering Email
        email                           orceng@reachlocal.com
        service_notification_commands   notify-service-by-graph-email
        host_notification_commands      notify-host-by-graph-email
        }

#define contact{
 #       contact_name                    alex.barcelos
  #      use                             generic-contact
   #     alias                         	System Administrator 
    #    email                           alex.barcelos@reachlocal.com
     #   }

define contact{
        contact_name                    windowssystem-ett
        use                             generic-contact
        alias                           Kris Haughey
        email                           khaughey@gannett.com
        }

define contact{
        contact_name                    appops-oncall
        use                             oncall-contact
        alias                           Application Operations OnCall Email
        email                           appops-oncall@reachlocal.com
#       email                           rlappops@vzw.blackberry.net
#       email                          	8185773383@vtext.com 
        }

define contact{
        contact_name                    appops-phone
        use                             oncall-contact
        alias                           Application Operations OnCall Device
        email                          	8185773383@vtext.com 
        }

define contact{
        contact_name                    prodeng-oncall
        use                             oncall-contact
        alias                           Production Engineering OnCall Device
        email                          	prodeng-oncall@reachlocal.com
        }

#define contact{
 #       contact_name                    yang.liu
  #      use                             oncall-contact
   #     alias                           OnCall Device
    #    email                           liuyangus@yahoo.com
     #   }

define contact{
	contact_name			netops-oncall
	use				generic-contact
	alias				netops phone
	email				netops@reachlocal.com
	}

define contact{
	contact_name			pubops-email
	use		                generic-contact
	alias           	        PubOps Email
	email                   	jhutto@reachlocal.com
	}

define contact{
	contact_name			international-email
	use                     	generic-contact
	alias  		                IPT International Email
	email           		ipt-international@reachlocal.com
	}

define contact{
	contact_name			publisher-services-email
	use                    		generic-contact
	alias		                IPT Publisher Services
	email           	        ipt-publisherservices@reachlocal.com
	service_notification_options	c
	}

define contact{
        contact_name                    dba-email
        use                             generic-contact
        alias                           DBA Email
        email                           dba-oncall@reachlocal.com
	}

define contact{
        contact_name                    dba-oncall
        use                             generic-contact
        alias                           DBA Phone
        email                           8185775383@vtext.com
	}

define contact{
        contact_name                    releng
        use                             generic-contact
        alias                           Release Engineering
        email                           releng@reachlocal.com
	}

define contact{
        contact_name                    murad
        use                             generic-contact
        alias                           Murad Mordukhay
        email                           murad.mordukhay@reachlocal.com
	}	

define contact{
        contact_name                    ipt-financialservices
        use                             generic-contact
        alias                           IPT Financial Services
        email                           ipt-financialservices@reachlocal.com
	}

define contact{
        contact_name                    imercer
        use                             generic-contact
        alias                           Ian Mercer
        email                           imercer@reachlocal.com
	}

define contact{
        contact_name                    ruud.schuitemaker
        use                             generic-contact
        alias                           Ruud Schuitemaker
        email                           ruud.schuitemaker@reachlocal.nl
	}

define contact{
        contact_name                    jens-henze
        use                             generic-contact
        alias                           Jens Henze
        email                           jens.henze@reachlocal.de
	}

define contact{
        contact_name                    hira-iqbal
        use                             generic-contact
        alias                           Hira Iqbal
        email                           hira.iqbal@reachlocal.nl
	}

#define contact{
#        contact_name                    samir.ahmed
#        use                             generic-contact
#        alias                           samir.ahmed@reachlocal.com
#        email                           samir.ahmed@reachlocal.com
#        }

#define contact{
#        contact_name                    william.hooper
#        use                             generic-contact
#        alias                           william.hooper@reachlocal.com
#        email                           william.hooper@reachlocal.com
#        }

#define contact{
#        contact_name                    kenny.sexton
#        use                             generic-contact
#        alias                           kenny.sexton@reachlocal.com
#        email                           kenny.sexton@reachlocal.com
#        }

#define contact{
#        contact_name                    glynn.reynolds
#        use                             generic-contact
#        alias                           glynn.reynolds@reachlocal.com
#        email                           glynn.reynolds@reachlocal.com
#        }

#define contact{
#        contact_name                    michael.hogg
#        use                             generic-contact
 #       alias                           michael.hogg@reachlocal.com
  #      email                           michael.hogg@reachlocal.com
   #     }

define contact{
        contact_name                    joe.sindel
        use                             generic-contact
        alias                           joe.sindel@reachlocal.com
        email                           joe.sindel@reachlocal.com
        }

#define contact{
 ##       contact_name                    adrian.wang
   #     use                             generic-contact
    #    alias                           adrian.wang@reachlocal.com
     #   email                           adrian.wang@reachlocal.com
      #  }

##QA active mq alerts notifier

define contact{
        contact_name                    mark.wagner
        use                             generic-contact
        alias                           sreteam Email
        email                           mark.wagner@reachlocal.com
        }

define contact{
        contact_name                    eric.zetterbaum
        use                             generic-contact
        alias                           sreteam Email
        email                           eric.zetterbaum@reachlocal.com
        }
		
define contact{
        contact_name                    dan.belling
        use                             generic-contact
        alias                           sreteam Email
        email                           dan.belling@reachlocal.com
        }	
define contact{
        contact_name                    gary.moon
        use                             generic-contact
        alias                           sreteam Email
        email                           gary.moon@reachlocal.com
        }
define contact{
        contact_name                    paige.scheunemann
        use                             generic-contact
        alias                           sreteam Email
        email                           paige.scheunemann@reachlocal.com
        }		
		
define contact{
        contact_name                    paul.corcoran
        use                             generic-contact
        alias                           sreteam Email
        email                           paul.corcoran@reachlocal.com
        }		






###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

define contactgroup{
	contactgroup_name	securepay
	alias			Secure Contacts
	}

define contactgroup{
        contactgroup_name       appops
        alias                   Systems Operations
        #SRE-3815 members                 appops-oncall,appops-email,pagerduty
        members                 appops-oncall,appops-email
        }

define contactgroup{
	contactgroup_name	pubops
	alias			Publisher Operations
	members			pubops-email,publisher-services-email
	}

define contactgroup{
	contactgroup_name	pubserv
	alias			IPT Publisher Services
	members			publisher-services-email
	}

define contactgroup{
        contactgroup_name       international
        alias                   IPT International
        members                 international-email
        }

define contactgroup{
	contactgroup_name	netops-oncall
	alias			Network Operations
	members			netops-oncall
	}

define contactgroup{
	contactgroup_name	sysops	
	alias			SysOps
	members		 	appops-oncall 	
	}

define contactgroup{
        contactgroup_name       appops-oncall
 	alias                   App Ops On Call Pager
        members                 appops-oncall,appops-phone
 	}

define contactgroup{
        contactgroup_name       prodeng-oncall
 	alias                   Production Engineering On Call Pager
        #SRE-3815 members                 prodeng-oncall,pagerduty
        members                 prodeng-oncall
 	}

#define contactgroup{
 #       contactgroup_name       australia
  #      alias                   Australia Operations
   #     members                 sreteam
    #    }

define contactgroup{
        contactgroup_name       dbas
        alias                   Database Administrators
        members                 dba-oncall,dba-email
        }

define contactgroup{
        contactgroup_name       releng-group
        alias                   Release Engineering
        members                 releng
        }

#define contactgroup{
 #       contactgroup_name       yang-oncall
  #      alias                   yang On Call Pager
   #     members                 yang.liu
    #    }

define contactgroup{
        contactgroup_name       directdebit-europe
        alias                   Direct Debit Processing Europe
        members                 ipt-financialservices,imercer,ruud.schuitemaker,jens-henze,hira-iqbal
        }

define contactgroup{
        contactgroup_name       orcheng-group
        alias                   Orchestration Engineering
        members                 orcheng-email
        }

define contactgroup{
        contactgroup_name       capture-notify
        alias                   Orchestration Engineering
        members                 appops-oncall
        }

define contactgroup{
        contactgroup_name       sreteamcall
        alias                   Orchestration Engineering
        members                 sreteam
        }

define contactgroup{
        contactgroup_name       qa_activemq
        alias                   qa_activemq
        members                 sreteam,mark.wagner,eric.zetterbaum,dan.belling,gary.moon,paige.scheunemann,paul.corcoran
        }

########################## removing below PD entries SRE-3815
#define contact {
 #       contact_name                             pagerduty
  #      alias                                    PagerDuty Pseudo-Contact
   #     service_notification_period              24x7
    #    host_notification_period                 24x7
     #   service_notification_options             c,r
      #  host_notification_options                d,r
       # service_notification_commands            notify-service-by-pagerduty
        #host_notification_commands               notify-host-by-pagerduty
        #pager                                    7823d9606c71012f1cb2123139146e6c
	#}

#define contact {
 #       contact_name                             pagerduty-sysops
  #      alias                                    PagerDuty Pseudo-Contact Sysops
   #     service_notification_period              24x7
    #    host_notification_period                 24x7
     #   service_notification_options             w,c,r
      #  host_notification_options                d,u,r
       # service_notification_commands            notify-service-by-pagerduty
        #host_notification_commands               notify-host-by-pagerduty
        #pager                                    a7dbf44c17a34acd8da43b19b3411663
        #}

#define contact {
 #       contact_name                             pagerduty-netops
  #      alias                                    PagerDuty Pseudo-Contact NetOps
   #     service_notification_period              24x7
    #    host_notification_period                 24x7
     #   service_notification_options             w,c,u,r
      #  host_notification_options                d,u,r
       # service_notification_commands            notify-service-by-pagerduty
        #host_notification_commands               notify-host-by-pagerduty
        #pager                                    b9f6d7584a8b4dffa43b6f2ce4023bb7
        #}

#define contact {
 #       contact_name                             pagerduty-whett
  #      alias                                    PagerDuty Pseudo-Contact WH ETT
   #     service_notification_period              24x7
    #    host_notification_period                 24x7
     #   service_notification_options             w,c,u,r
      #  host_notification_options                d,u,r
       # service_notification_commands            notify-service-by-pagerduty
        #host_notification_commands               notify-host-by-pagerduty
        #pager                                    1d17c425d0dd4ce6aa8ec26f1263f3b2
        #}

#define contact {
 #       contact_name                             pagerduty-dallasett
  #      alias                                    PagerDuty Pseudo-Contact Dallas ETT
   #     service_notification_period              24x7
    #    host_notification_period                 24x7
     #   service_notification_options             w,c,u,r
      #  host_notification_options                d,u,r
       # service_notification_commands            notify-service-by-pagerduty
        #host_notification_commands               notify-host-by-pagerduty
        #pager                                    924262071dce4ec68d16e8907623f21a
        #}

#define contact {
 #       contact_name                             pagerduty-orcheng
 #       alias                                    PagerDuty Pseudo-Contact Orchestration Engineering
  #      service_notification_period              24x7
   #     host_notification_period                 24x7
    #    service_notification_options             c,r
     #   host_notification_options                d,r
      #  service_notification_commands            notify-service-by-pagerduty
       # host_notification_commands               notify-host-by-pagerduty
        #pager                                    c8830c78be7d48218473866d7a445737
        #}

#define contact {
#	contact_name				 snc-ticket-ett
 #       alias					 SNC Pseudo-Contact ETT
#	service_notification_period		 24x7
#	host_notification_period		 24x7
#	service_notification_options		 c
#	host_notification_options		 d
#	service_notification_commands		 create_snc_ticket_s!4!ETT
#	host_notification_commands		 create_snc_ticket_h!4!ETT
#	} 

######################## END of PD disabling entries SRE-3815
